.service-item {
  border: 1px solid rgba(82, 82, 82, 1);
  border-radius: 1rem;
  padding: 3rem 2.5rem;
  .service-item_title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .service-item_icon {
    margin-bottom: 1.25rem;
  }
}
.marquee-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 3rem;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  &:before {
    left: 0;
    background: linear-gradient(to right, $black 0%, transparent 100%);
  }
  &:after {
    right: 0;
    background: linear-gradient(to left, $black 0%, transparent 100%);
  }
  .marquees-item {
    animation: marquee 40s linear infinite;
    &:hover {
      animation-play-state: paused;
    }
    &:last-child {
      animation-direction: reverse;
    }
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 10rem;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.sharing-item {
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 1.25rem;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 1rem;
  .service-item_describe {
    flex-grow: 1;
    border-radius: 1.25rem;
  }
  @include media-breakpoint-up(xl) {
    padding: 2.5rem;
    min-height: 400px;
  }
}
.application-section {
  color: $black;
  background-color: $white;
  padding: 5rem 0;
  border-radius: 1.25rem;
  .section-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
  }
  .section-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 3rem;
  }
  .form-control,
  .input-group-text {
    color: rgba(145, 145, 145, 1);
    background-color: rgba(242, 242, 242, 1);
  }
  .dropdown-toggle::after {
    border: 0;
  }
  .dropdown-menu {
    --bs-dropdown-min-width: 15rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 1.25rem;
    --bs-dropdown-border-color: transparent;
    --bs-dropdown-divider-bg: #f2f2f2;
    --bs-dropdown-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);

    --bs-dropdown-link-color: #000;
    --bs-dropdown-link-hover-color: #000;
    --bs-dropdown-link-hover-bg: #f2f2f2;
    --bs-dropdown-link-active-color: #000;
    --bs-dropdown-link-active-bg: #fff;
    --bs-dropdown-item-padding-x: 2.5rem;
    --bs-dropdown-item-padding-y: 0.25rem;

    --bs-dropdown-header-color: rgba(145, 145, 145, 1);
    --bs-dropdown-header-padding-x: 2.5rem;
    --bs-dropdown-header-padding-y: 0.25rem;
    box-shadow: var(--bs-dropdown-box-shadow);

    .dropdown-header {
      font-size: 0.75rem;
    }
    .dropdown-divider {
      margin: 1rem var(--bs-dropdown-item-padding-x);
    }
  }

  .nav-pills .nav-link {
    color: rgba(145, 145, 145, 1);
    &.active {
      color: #000;
      background-color: rgba(242, 242, 242, 1);
    }
  }
  .card {
    --bs-card-border-radius: 1rem;
    transition: transform 0.25s ease-in-out;
    .card-img {
      overflow: hidden;
      img {
        transition: transform 0.25s ease-in-out;
      }
    }
    .card-title {
      font-size: 20px;
      font-weight: 900;
      line-height: 24px;
      margin-bottom: 0.75rem;
    }
    .card-text {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #525252;
      margin-bottom: 0;
    }
    .card-tag,
    .card-share {
      color: var(--black-color);
      text-decoration: none;
      &:hover {
        color: #0d6efd;
      }
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      .card-img img {
        transform: scale(1.1);
      }
    }
  }
  .list-group {
    --bs-list-group-border-color: #f2f2f2;
  }
  .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .pagination-wrap {
    margin-top: 2rem;
    .pagination {
      gap: 1rem;
    }
    .page-link.active,
    .active > .page-link {
      --bs-pagination-active-color: #fff;
      --bs-pagination-active-bg: #000;
    }
    .page-link {
      --bs-pagination-color: #000;
      border: 0;
      border-radius: 1rem;
      &:hover {
        --bs-pagination-hover-color: #000;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    padding: 10rem 0;
    border-radius: 10rem;
    .section-title {
      font-size: 5rem;
    }
    .section-filter {
      margin-bottom: 2.5rem;
    }
    .pagination-wrap {
      margin-top: 2.5rem;
    }
  }
}
